@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: serif;
}

.submenu h2 {
  color: #117554;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 600;
}

.submenu ul > li {
  font-size: 14px;
  color: #868686;
  font-weight: 400px;
}
.footer {
  padding: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu h2 {
  font-size: 20px;
  font-weight: 600;
  font-family: serif;
}
.menu ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.menu ul > li {
  font-size: 15px;
  color: #868686;
  font-family: "Times New Roman", Times, serif;
}
.menu ul > li:hover {
  color: #117554;
}

.contactForm {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 10px;
}

.contactForm div {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.contactForm div > input {
  border: 1px solid saddlebrown;
  width: 250px;
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
}
